body{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid #11418f;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #11412f;
  padding: 1em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: 10px solid #aaaa11;
  border-radius: 10px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*flex-wrap: wrap;*/
  align-content: end;
  gap: 1em;
}

.item-3 {
  flex-grow: 1;
  flex-shrink: 5;
}

.item-1 {
  flex: 1;
  align-self: flex-end;
}