html {
  font-family: sans-serif;
  background-color: #878683;
  background-image: url('../img/Bitcoin_wide.jpg');
  background-size: cover;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  opacity: 100%;
}

#image {
  position: absolute;
  display: none;
  width: 400px;
  height: 100px;
  pointer-events: none;
}

#AchievementBox{
  display: none;
  position: absolute;
  pointer-events: none;
}

#UpgradeBox{
  display: none;
  position: absolute;
  pointer-events: none;
}

#wholePage{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 90%;
}

#switchViewButton {
  font-size: 15px;
  text-wrap: wrap;
  width: 100px;
}

#leftPane {
  
  background-color:sandybrown;
  margin: 10px;
  width: 30%;
}

#midPane {
  background-color: #ff4754;
  margin: 10px;
  width: 45%;
}

#rightPane {
  background-color:burlywood;
  margin: 10px;
  width: 20%;
}

#divAchievementsBoxTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divAchievementsBox{
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: #ff4754;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  margin: 3px;
}

#divUpgradesBoxTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bUpgradesBox{
  display: none;
  background-color: black;
  border-style: solid transparent;
  border-width: 3px;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  color: #ff4754;
  width: 50px;
  height: 50px;
  margin: 3px;
}


.bBuyUpgrade{
  display: none;
}

.iConvert {
  width: 20%;
}

/* hide up and down arrows on number input fields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  appearance: textfield;
  -moz-appearance:textfield; /* Firefox */
}

.bConvert {
  width: 20%;
  height: 30px;
  font-size: 10px;
  padding: 0px;;
}

/* Table section */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
/* Table section */

/* progress bar*/

.progress-container {
  height: 0.8rem;
  width: 32rem;
  border-radius: 0.4rem;

  background: #000;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #ff4754;

  transition: width 0.4s ease;
}
/* progress bar*/

#buySellButtons{
  display: flex;
  background-color: #000;
  width: 202px;
}

#bBuy {
  font-family: inherit;
  font-size: 12px;
  width: 100px;
  text-align: left;
  padding: 0.7em 1.4em 0.7em 1.1em;
  font-weight:bold;
  color: white;
  background: linear-gradient(90deg, rgba(20,167,62,1) 50%, rgba(102,247,113,1) 100%);
  border: none;
  border-radius: 10px 50% 50% 10px;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin-right: 1px;
}

#bSell {
  font-family: inherit;
  font-size: 12px;
  width: 100px;
  text-align: right;
  padding: 0.7em;
  font-weight:bold;
  color: white;
  /*background: linear-gradient(270deg, rgb(224, 0, 0) 50%, rgb(241, 116, 0) 100%);*/
  background-color: #878683;
  border: none;
  border-radius:50% 10px 10px 50%;
  letter-spacing: 0.05em;
  cursor: pointer;

  margin-left: 1px;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
	font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}